<div class="container mt-5" id="main-container">
    <h1>Dispositivos Electrónicos</h1>
    <table class="table table-hover" id="dispositivos">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Conectado</th>
                <th scope="col">IP</th>
                <th scope="col">MAC</th>
                <th scope="col">Marca</th>
                <th scope="col">Tipo de Dispositivo</th>
                <th scope="col">Conexion Actual</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let device of devices">
                <td>{{device.id}}</td>
                <td>{{(device.connected) === true ? 'Si' : 'No'}}</td>
                <td>{{device.ip}}</td>
                <td>{{device.mac}}</td>
                <td>{{device.trademark}}</td>
                <td>{{device.type}}</td>
                <td>{{device.connection?.name}}</td>
                <td>
                    <a class="btn btn-warning mx-2" (click)="openModal('edit', device)">
                        <fa-icon [icon]="faPen"></fa-icon>
                    </a>
                    <a class="btn btn-danger" (click)="openModal('delete', device)">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <a class="btn btn-outline-dark" (click)="openModal('add')">
            Agregar Dispositivo
        </a>
    </div>

    <div id="alerta" hidden>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        
        <div class="alert alert-primary d-flex align-items-center mt-5" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
            <div>
                No hay dispositivos registrados
            </div>
        </div>
    </div>

    <!-- AddModal -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Agregar Dispositivo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container mt-2 mb-2 text-center">

                        <form #addForm="ngForm" (ngSubmit)="addDevice(addForm)">
                            <div class="mb-2">
                                <p>¿Esta Conectado a la red?</p>
                                <div class="form-check form-switch text-center">
                                    <input class="form-check-input" type="checkbox" ngModel name="connected" id="connected">
                                </div>
                            </div>
                            <div class="mb-2">
                                <input type="text" class="form-control" ngModel name="ip" id="ip" placeholder="Dirección IP">
                            </div>
                            <div class="mb-2">
                                <input type="text" class="form-control" ngModel name="mac" id="mac" placeholder="Dirección MAC">
                            </div>
                            <div class="mb-2">
                                <input type="text" class="form-control" ngModel name="type" id="type" placeholder="Tipo de dispositivo">
                            </div>
                            <div class="mb-2">
                                <input type="text" class="form-control" ngModel name="trademark" id="trademark" placeholder="Marca">
                            </div>
                            <div class="mb-2">
                                <select class="form-select" size="3" aria-label="size 3 select example"
                                    ngModel name="connection" id="connection">
                                    <option selected disabled>Conexiones</option>
                                    <option *ngFor="let connection of connections" [value]="connection?.id">
                                        {{connection.name}}
                                </select>

                            </div>
                            <button type="submit" class="btn btn-dark" name="btnAgregarD" id="btnAgregarD" data-bs-dismiss="modal">Agregar Dispositivo</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- EditModal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Editar Dispositivo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container mt-2 mb-2 text-center">

                        <form #updateForm="ngForm">

                            <input type="hidden" ngModel="{{editDevice?.id}}" name="id" id="id">

                            <div class="mb-2">
                                <p>¿Esta Conectado a la red?</p>
                                <div class="form-check form-switch text-center">
                                    <input class="form-check-input" type="checkbox" ngModel="{{editDevice?.connected}}" name="connected" id="connected">
                                </div>
                            </div>
                            <div class="mb-2">
                                <input type="text" class="form-control" ngModel="{{editDevice?.ip}}" name="ip" id="ip" placeholder="Dirección IP">
                            </div>
                            <div class="mb-2">
                                <input type="text" class="form-control" ngModel="{{editDevice?.mac}}" name="mac" id="mac" placeholder="Dirección MAC">
                            </div>
                            <div class="mb-2">
                                <input type="text" class="form-control" ngModel="{{editDevice?.type}} "name="type" id="type" placeholder="Tipo de dispositivo">
                            </div>
                            <div class="mb-2">
                                <input type="text" class="form-control" ngModel="{{editDevice?.trademark}}" name="trademark" id="trademark" placeholder="Marca">
                            </div>
                            <div class="mb-2">
                                <select class="form-select" size="3" aria-label="size 3 select example"
                                    ngModel="{{editDevice?.connection}}" name="connection" id="connection">
                                    <option selected disabled>Conexiones</option>
                                    <option *ngFor="let connection of connections" [value]="connection?.id">
                                        {{connection.name}}
                                </select>

                            </div>
                            <button type="submit" class="btn btn-warning" name="btnUpdateD" (click)="updateDevice(updateForm.value)" data-bs-dismiss="modal">Editar Dispositivo</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DeleteModal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Eliminar Dispositivo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Esta seguro de eliminar el dispositivo {{delDevice?.mac}}?</p>
                </div>
                <div class="modal-footer">
                    <button (click)="deleteDevice(delDevice?.id)" type="button" class="btn btn-primary" data-bs-dismiss="modal">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

</div>